/* Global tags */

*, *:before, *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	color: #000;
	background: #fff;
}
address {
	font-style: normal;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-align: center;
	margin: 0;
	color: #6b5032;
}
h1, h2 {
	font-size: 32px;
}
section {

	img {
		margin: 0;
	}
	p {
		line-height: 22px;
	}
}
figure {
	margin: 0;
}

/* Classes, tags, IDs */

.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
} 
.clearfix {
    display: block;
}
.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
/* Header */
header.gl {
	padding: 25px 0;
	background: #fff;
}
.logo {
	display: block;
	width: 101px;
	height: 86px;
	background: url('../img/logo.png') no-repeat center center;
}
.logo-top {
	margin-left: 50px;
}
.contacts-top, .contacts-bottom {
	width: 480px;
	margin-right: 25px;
	font-size: 14px;
	color: #474747;

	.contacts-left, .contacts-right {
		width: 230px;
		line-height: 28px;
		display: inline-block;
		vertical-align: top;

	}
	.contacts-left {
		margin-right: 15px;
	}
}
/* Menu top */
.menu-top {
	background: #725532;
	text-align: center;
	padding: 15px 0;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 0 10px;

		a {
			padding: 15px 10px;
			font-size: 18px;
			color: #fff;

			&:hover {
				background: #4f3b25;
				color: #bfbfbf;
			}
		}

	}
}
/* Slider */
.main-slider {
	overflow: hidden;

	.owl-wrapper-outer {
		height: 374px;
	}
	.owl-controls {
		position: absolute;
		bottom: 10px;
		left: 40%;
	}
	.owl-page {
		display: inline-block;
		vertical-align: top;
		width: 17px;
		height: 17px;
		margin: 0 5px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		border: 1px solid #fff;
		background: #fff;

		&.active {
			background: #306a79;
		}
	}
	figure {
		position: relative;

		img {
			width: 1920px;
			height: 374px;
		}
	}
	figcaption {
		position: absolute;
		width: 480px;
		height: 180px;
		top: 80px;
		left: 50%;
		padding: 20px;
		background: #fff;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		text-align: center;
	}
	h3 {
		font-size: 30px;
		color: #174745;
	}
	.textblock {
		height: 70px;
		overflow: hidden;

		p {
			margin: 5px 0;
			font-size: 14px;
		}
	}
	.more {
		font-size: 14px;
		text-align: center;
		color: #6b5032;

		&:hover {
			color: #000;
		}
	}
}
/*  */
.page-block {
	padding: 40px 0;
	text-align: center;

	h2 {
		margin-bottom: 30px;
	}
}
.opacity-bg {
	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
}
.bg-wrapper {
	background: url('../img/bg1.jpg') repeat-y top center;
}
/* Services */
.services {

	.service-block {
		display: inline-block;
		margin-right: -4px;
		vertical-align: middle;
		width: calc(100%/6);
		width: -webkit-calc(100%/6);
		width: -moz-calc(100%/6);
	}
	.fill-wrapper {
		height: 85px;
	}
	figcaption {
		font-size: 14px;
		color: #543e25;
	}
	.serv-desc-wrapper {
		margin: 25px 0;
	}
	.serv-desc-block {

		.textblock {
			display: none;
		}
	}
	h3 {
		margin: 10px 0;

		&:hover {
			cursor: pointer;
		}
	}
}
.service-block:first-child img {
	margin-top: 15px;
}
/* Contacts page */
.contacts-center {
	margin: 0 auto;
	font-size: 15px;
}
.feedback {
	margin: 20px 0;

	h3 {
		margin-bottom: 15px;
	}
	.feedback-form {
		margin-left: 100px;
	}
	.name, .phone, .email, .district, .message {
		width: 375px;
		padding: 7px;
		display: block;
		margin-bottom: 10px;
		border: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		outline: none;
		font-size: 14px;
		font-family: 'Noto Sans', sans-serif;
		color: #6b5032;
	}
	.message {
		width: 795px;
		height: 165px;
	}
	[type=submit] {
		padding: 15px 45px;
		font-size: 14px;
		border: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		background: #fff;
		color: #6b5032;
	}
	[type=submit]:hover {
		background: #6b5032;
		color: #fff;
	}
}
/* Cooperation */
.list {
	width: 480px;
	margin: 25px 0;
	text-align: center;

	h3 {
		margin-bottom: 20px;
	}
	a {
		display: block;
		color: #084c77;
		margin: 2px;

		&:hover {
			color: #6b5032;
		}
	}
	span {
		display: block;
		margin: 2px;
	}
}
/* Photo */
.gallery {

	.gallery-block {
		margin: 25px 0;
	}
	h3 {
		margin-bottom: 15px;
		color: #383838;
		font-size: 26px;
	}
	a {
		display: inline-block;
		width: 226px;
		vertical-align: top;
		margin: 0 5px;
		margin-bottom: 15px;
		font-size: 15px;
		color: #000;

		img {
			width: 226px;
			height: 162px;
		}
		p {
			margin: 0;
			text-align: left;
		}
	}
}
/* Footer */
footer.gl {
	padding: 35px 0;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/bg1.jpg') center center;
	background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/bg1.jpg') center center;
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/bg1.jpg') center center;
	border-top: 2px solid #543e25;
}
.contacts-bottom, .logo-bottom {
	margin-left: 75px;
}
.hodlogo {
	display: block;
	width: 96px;
	height: 64px;
	background: url('../img/hodlogo.png') no-repeat center center;
	margin-right: 75px;
}